.box1{
    width: 200px;
    height:100px;
    background-color: hotpink;
}.box2{
    margin: 30px; /*all 4 sides same size*/
    margin:10px 30px;/*top:10 right:30*/
    margin:10px 30px 40px;/*top:10 right:30 bottom:40*/
    margin: auto;/*center horizontally*/
}
body{
    background-color: lemonchiffon(200, 300, 400);
}
.border{
    border: 2px solid coral;
    border-right: 3px black;
    border-bottom: 4px red;
    border-radius: 6px;
}